

$bgcolor: #e3a7d7;
$textcolor: #666;
$envelop: #f15454;
$paper: #e6cfcf;
$paper-border-color: #bbbbbb;

$heart-size: 35px;
$heart-round-percent: 60;
$heart-pseudo-size : calc($heart-size / 100 * $heart-round-percent);
$heart-shadow-color: rgba(0, 0, 0, 0.2);
$heart-color: #c70505;

$h1-size: 26px;
$text-size: 20px;
$sapogov-size: 90px;
$sapogov-bottom: 125px;